<!-- Footer -->
<footer class="page-footer font-small foot text-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Address</h5>
  
          
          <address>
              <br>Street No. 4,
              <br>Mumbai, India
              <br>Contact: 022-4365476
          </address>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Content</h5>

          <p class="justified">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              animi ex nemo vitae esse sunt asperiores sint ullam, 
              architecto quas doloribus, tenetur pariatur ad 
              assumenda obcaecati sit optio.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Helpdesk</a>
            </li>
            <li>
              <a href="#!">Terms and Conditions</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Follow us</h5>
  
          <ul class="list-unstyled">
            <li>
                <a class="tw-ic">
                    <i class="fa fa-twitter white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>
            </li>
            <li>
                <a class="fb-ic">
                    <i class="fa fa-facebook white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
            </li>
            <li>
                <a class="li-ic">
                    <i class="fa fa-linkedin white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
            </li>
            <li>
                <a class="ins-ic">
                    <i class="fa fa-instagram white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="https://mdbootstrap.com/"> LiveFashion.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
