<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <!-- Dashboard Content Goes Here -->

      </div>
      
      <div class="container-fluid"> 
        <div class="row slider">
          <div class="col-sm-3  slide1">
            <div>
              
            <div class="card">Total Users 
              <i class ="fa fa-users icon" ></i>
                            
              <br>
              <br>
              <h1 style="text-align:center">{{userCount}}</h1>
          
            </div>  
            
          </div>

          </div>
         
          <div class="col-sm-3 slide2">
    
            <div class=" card">Total Brands

              <i class ="fa fa-thumbs-up icon"></i>
              <br>
              <br>
              <h1 style="text-align:center ">{{brandCount}}</h1>
            </div>
    
          </div>
          <div class="col-sm-3 slide4">
            <div class=" card">Total Categories

              <i class ="fa fa-sitemap icon"></i>          
              <br>
              <br>
              <h1 style="text-align:center">{{categoryCount}}</h1>
            </div>
    
          </div>
        </div>
    <br>
    <br>
    <br>
        <div class="row slider">
          <div class="col-sm-3  slide1">
            <div class=" card">Total Products

              <i class ="fa fa-gift icon"></i>
              <br>
              <br>
              <h1 style="text-align:center">{{productCount}}</h1>
            </div>
          </div>
    
          <div class="col-sm-3 slide2">
    
            <div class ="card">Total Sales
              <i class ="fa fa-shopping-bag icon"></i>
              <br>
              <br>
              <h1 style="text-align:center">{{salesCount}}</h1>
            </div>
    
    
          </div>
          <div class="col-sm-3 slide3">
            <div class = "card">Total Orders
              <i class ="fa fa-cart-arrow-down icon"></i>
              <br>
              <br>
              <h1 style="text-align:center">{{orderCount}}</h1>
            </div>
    
          
  
      </div>
    </div>
  </div>
      
