
    <div class="row" >
        <h4 class="display-5">{{product.productName}}</h4>
        <div class="col-5 shadow-sm p-3 mb-5 bg-white rounded">
            <img src="{{product.productImage}}" class="border" style="width:100%; height:400px;">
        </div>
        <div class="col-7">
            <h6>
                Color: {{product.color}}
            </h6>
            <h6>
                Brand: {{brand.brandName}}
            </h6>
            <h6>
                Size: 
                <select name="size" id="size" [(ngModel)]="sizeSelected">
                    <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
                </select>
            </h6>
            <h5><b>
                Price: {{product.price*(1- product.discount/100) | currency :'INR'}}
            </b></h5>
           
            <h6 class="text-danger">
                Discount: {{product.discount}}%
            </h6>
            <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
            <br>
            <hr>
                <p *ngIf="!reviewsPresent">No Reviews yet</p>
                <div *ngIf="reviewsPresent"><h6>Reviews: </h6>
                <ul>
                    <li *ngFor="let review of reviews" style="list-style: none;">
                        <p>{{review.rating}} <i class="fa fa-star checked" style="font-size:20px"></i> &nbsp;
                           <b> {{review.user.firstName}} {{review.user.lastName}}</b></p>
                        <p>{{review.review}}</p>
                        <hr>
                    </li>
                </ul> 
                
            </div>
        </div>
    </div>

    
    
