.btn-color {
    background-color: #0e1c36;
    color: #fff;
  }
  
  .profile-image-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  
  .cardbody-color {
    background-color: whitesmoke;
  }
  
  a {
    text-decoration: none;
  }
  